body {
    font-family: sans-serif;
}

header{
    background-color: darkgreen;
    height: 100px;
}

.link-header{
    text-decoration: none;
    background-color: greenyellow;
    font-size: 30px;
    margin: 30px;
    position: absolute;
}
